.fav__page.overflow
  .welcom
    .welcom__cloud
    .welcom__container
      .welcom__row
        .welcom__info
          .welcom__title lucky #[span women’s] day
          .welcom__text Єврокубки повертаються, а з ними і ти повертаєшся до гри. Дивися турніри Ліги чемпіонів, Ліги Європи та Ліги конференцій, з ХХ по ХХ роби ставки в розділах «Спорт», «Лайв», «Кіберспорт» або «Казино», набирай бали та
          a(href='#').welcom__link JOIN
        .welcom__image
          picture
            source(media="(min-width: 1025px) " srcset="img/woman-desc.png")
            source(media="(min-width: 771px) and (max-width: 1024px) " srcset="img/woman-tab.png")
            source(media="(min-width: 551px) and (max-width: 770px)" srcset="img/woman-tab.png")
            source(media="(max-width: 550px)" srcset="img/woman-mob.png")
            img(src="img/woman-desc.png" alt="Favbet")
  .prize
    .prize__container
      .prize__title WHAT TO DO?
      ul.prize__list
        li.prize__item
          .prize__item-wrap
            .prize__item-number 1
          .prize__item-text title tournaments title tournaments title
        li.prize__item
          .prize__item-wrap
            .prize__item-number 2
          .prize__item-text title tournaments title tournaments title
        li.prize__item
          .prize__item-wrap
            .prize__item-number 3
          .prize__item-text title tournaments title tournaments title
      details.prize__drop
        summary.prize__drop-title Uvjeti i odredbe:
        .prize__drop-txt
          p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
  .tableResults
    .tableResults__container
      .tableResults__title(data-translate="tableResults_title") RESULTS
      .tableResults__wrap#results-table
        .tableResults__head
          .tableResults__head-list
            .tableResults__head-col(data-translate="tableResults_head-place") MJESTO
            .tableResults__head-col(data-translate="tableResults_head-id") ID
            .tableResults__head-col(data-translate="tableResults_head-points") BODOVI
            .tableResults__head-col(data-translate="tableResults_head-prize") NAGRADA
        .tableResults__body
          .tableResults__row.place1
            .tableResults__body-col 1
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row.place2
            .tableResults__body-col 2
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row.place3
            .tableResults__body-col 3
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row
            .tableResults__body-col 4
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row
            .tableResults__body-col 4
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row
            .tableResults__body-col 4
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row
            .tableResults__body-col 4
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row
            .tableResults__body-col 4
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
          .tableResults__row
            .tableResults__body-col 4
            .tableResults__body-col 1454929
            .tableResults__body-col 424.4
            .tableResults__body-col 1000EUR
      details.tableResults__drop
        summary.tableResults__drop-title(data-translate="terms") Uvjeti i odredbe:
        .tableResults__drop-txt(data-translate="terms-drop-txt")
          p 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span 1.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit   Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span 2.1 Lorem ipsum dolor sit amet, consectetur adipiscing elit
            span.retreat1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit
  .footer
    .footer__cloud
    .footer__container
      .footer__row
        .footer__title lucky #[span women’s] day
        .footer__text Єврокубки повертаються, а з ними і ти повертаєшся до гри. Дивися турніри Ліги чемпіонів, Ліги Європи та Ліги конференцій, з ХХ по ХХ роби ставки в розділах «Спорт», «Лайв», «Кіберспорт» або «Казино», набирай бали та отримуй бонуси від FAVBET і можливість виграти планшет.
        a(href='#').footer__link JOIN